<!DOCTYPE html>
<html data-ng-app="app">

<head>
    <title>RW App Extension</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!--BootStrap-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <!--Controller-->
    <script type="text/javascript" src="Controller/app.js"></script>
    <script type="text/javascript" src="Controller/IndexController.js"></script>
    <!--AngularJS Packages-->
    <script type="text/javascript" src="bower_components/angular-base64-upload/dist/angular-base64-upload.js"></script>
    <!--Factory-->
    <script type="text/javascript" src="Factory/Utils.js"></script>
    <!--Service-->
    <script type="text/javascript" src="Service/restService.js"></script>
    <!--jQuery plugin-->
    <!--tableExport-->
    <script type="text/javascript" src="bower_components/tableExport.jquery.plugin/tableExport.js"></script>
    <script type="text/javascript" src="bower_components/tableExport.jquery.plugin/jquery.base64.js"></script>
    <script type="text/javascript" src="bower_components/tableExport.jquery.plugin/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="bower_components/tableExport.jquery.plugin/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="bower_components/tableExport.jquery.plugin/jspdf/libs/base64.js"></script>
    <!--tableExport Directive-->
    <script type="text/javascript" src="Directive/ExportTable.js"></script>
    <!--Style-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/default.css" />
</head>

<body data-ng-controller="indexController">

<div data-ng-show="alert">
    <alert type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
</div>

<div data-ng-click="toggleDebugMode()">
    <pre>
        {{errorObj}}
    </pre>
</div>

<div class="alignCenter">
    <form style="width: 720px;margin: 0 auto;" class="alignRight">
        <input type="file" ng-model="uploadFile" id="file" name="file" base-sixty-four-input style="display: inline">
        小於50MB
        <button ng-click="uploadExcelAndImport(uploadFile)">上傳附件</button>
    </form>
</div>
<div class="alignCenter">
    <label for="magentoHost">Magento Host</label>
    <select id="magentoHost" data-ng-model="host" data-ng-change="changeMagentoHost()">
        <option value="114.34.186.208">114.34.186.208</option>
        <option value="rwpim.silksoftware.net">rwpim.silksoftware.net</option>
    </select>
    <label for="magentoDirectory">Magento Directory</label>
    <select id="magentoDirectory" data-ng-model="magentoDirectory">
        <option>/community</option>
        <option value="">root</option>
    </select>
    <input type="button" data-ng-click="checkSessionState()" value="Start AUTH" />
</div>
<div class="alignCenter">
    <form data-ng-submit="getRwProductList()">
        <fieldset style="border: 1px solid silver;margin-bottom: 15px;padding-bottom: 10px;">
            <legend style="width: inherit;border-bottom: none;">Get RW Product List and Import</legend>
            <input type="submit" value="Get RW Product List" />
            <label for="ItemCreationDateFrom">Create From</label>
            <input type="text" id="ItemCreationDateFrom" style="width: 80px;" data-ng-model="params.getRwProductList.ItemCreationDateFrom" ng-blur="postConfigJson({params: params}, 'dateString')" />
            <label for="ItemCreationDateTo">Create To</label>
            <input type="text" id="ItemCreationDateTo" style="width: 80px;" data-ng-model="params.getRwProductList.ItemCreationDateTo" />
            <span data-ng-bind="rwFilteredItemList.length"></span>
            <input type="button" value="Export to Excel" data-ng-click="exportAction()" />
        </fieldset>
    </form>
</div>
<table class="navMenu">
    <tr>
        <td>
            <input type="button" value="HOME" data-ng-click="backHome()" />
        </td>
        <td data-ng-if="authenticated">
            <input type="button" value="Get Product List" data-ng-click="getProductList()" />
        </td>
        <td>
            <input type="number" style="width: 35px;" data-ng-model="bigCurrentPage" />
            <!--<input type="number" style="width: 50px;" data-ng-model="rowsPerPage" />-->
            <select style="width: 60px;" data-ng-model="rowsPerPage">
                <option>1</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </td>
        <td data-ng-if="authenticated">
            <input type="button" value="Get From Intelligence" data-ng-click="getInformationFromIntelligence()" />
        </td>
        <td>
            <input type="button" value="Update Product Info" data-ng-click="updateAllInfo()" />
        </td>
        <td>
            <input type="button" value="Update Product Images" data-ng-click="uploadProductImages()" />
        </td>
        <td>
            <input type="button" value="CLEAR SESSION" data-ng-click="destroySession()" />
        </td>
    </tr>
</table>

<div ng-switch on="authObject.action">
    <div ng-switch-when="getProductList">
        <div class="alignCenter">
            <span data-ng-repeat="entity in productList">
                <span data-ng-bind="entity.sku" data-ng-if="isNotEmpty(entity.sku)"></span>
                <span data-ng-if="$index<productList.length-1&&isNotEmpty(entity.sku)">, </span>
            </span>
        </div>

        <table class="infoTable" data-ng-if="productList.length>0">
            <tr>
                <th>#</th>
                <th>SKU#</th>
                <th>RAW data</th>
            </tr>
            <tr data-ng-repeat="entity in productList">
                <td class="alignCenter" data-ng-bind="$index+1"></td>
                <td class="alignCenter">
                    <span data-ng-bind="entity.sku"></span>
                </td>
                <td>
                    <span data-ng-bind="entity | json"></span>
                </td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="createNewProduct">
        createNewProduct
    </div>
    <div ng-switch-when="getRwProductList">
        <table class="infoTable marginAuto fullWidth export-table" data-ng-show="rwFilteredItemList.length>0">
            <tr>
                <th data-ng-if="rwFilteredItemList[0].hasOwnProperty('exists')"></th>
                <!--<th data-ng-if="rwFilteredItemList[0].hasOwnProperty('exists')">attribute_set_id</th>-->
                <!--<th data-ng-if="rwFilteredItemList[0].hasOwnProperty('exists')">attribute_set_code</th>-->
                <th>#</th>
                <th>ItemNumber</th>
                <th>Model</th>
                <th>Description</th>
                <th>UnitPrice</th>
                <th>ItemCreationDate</th>
                <th>attr_name</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="rwItem in rwFilteredItemList">
                <td data-ng-if="rwFilteredItemList[0].hasOwnProperty('exists')"><span class="glyphicon glyphicon-floppy-saved colorGreen" data-ng-if="rwItem.exists"></span></td>
                <!--<td data-ng-if="rwFilteredItemList[0].hasOwnProperty('exists')"><span data-ng-bind="rwItem.attribute_set_id"></span></td>-->
                <!--<td data-ng-if="rwFilteredItemList[0].hasOwnProperty('exists')"><span data-ng-bind="rwItem.attribute_set_code"></span></td>-->
                <td data-ng-bind="$index+1"></td>
                <td data-ng-bind="rwItem.ItemNumber"></td>
                <td data-ng-bind="rwItem.Model"></td>
                <td data-ng-bind="rwItem.Description"></td>
                <td data-ng-bind="rwItem.UnitPrice"></td>
                <td data-ng-bind="filterJavascriptDate(rwItem.ItemCreationDate)"></td>
                <td>    <!--attr_name-->
                    <span data-ng-if="containsComma(rwItem.attribute_set_name)" data-ng-repeat="attr_name in rwItem.attribute_set_name.split(',')">
                        <span data-ng-bind="attr_name" data-ng-class="attrClass(attr_name.trim())" data-ng-click="chooseAttrAndUploadNewProduct($parent.$parent.$index, attr_name.trim(), rwItem)"></span>
                        <span data-ng-if="$index+1 < rwItem.attribute_set_name.split(',').length">, </span>
                    </span>
                    <span data-ng-if="!containsComma(rwItem.attribute_set_name)">
                        <span data-ng-bind="rwItem.attribute_set_name" data-ng-class="attrClass(rwItem.attribute_set_name, rwItem.exists)" data-ng-click="chooseAttrAndUploadNewProduct($index, rwItem.attribute_set_name, rwItem)"></span>
                    </span>
                    <div data-ng-if="rwItem.exists">
                        attr_id: {{rwItem.attribute_set_id}}
                    </div>
                </td>
                <td>
                    <span class="glyphicon glyphicon-log-in cursorPointer" data-ng-click="getInfoThroughAPI($event, rwItem, $index)"></span>
                    <span class="glyphicon glyphicon-log-in cursorPointer" data-ng-click="uploadSingleProductImage(rwItem)"></span>
                </td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="importXlsx">
        <div>
            count: <span data-ng-bind="response.length"></span>
        </div>
        <table class="infoTable marginAuto">
            <tr data-ng-repeat="excelRow in response">
                <td>{{excelRow}}</td>
            </tr>
        </table>
        <pre>
            {{response | json}}
            {{test | json}}
        </pre>
    </div>
</div>

<!--Pagination-->
<!--<div style="text-align: center;" data-ng-if="productList.length>0">-->
<!--<pagination total-items="totalAmount" ng-model="bigCurrentPage" max-size="rowsPerPage" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></pagination>-->
<!--</div>-->

<pre data-ng-if="pageSetup.debug">
    attributeSetTable: {{attributeSetTable}}
    uploadFile: {{uploadFile}}
    rwItemNumberList: {{rwItemNumberList}}
    authObject: {{authObject | json}}
</pre>

</body>
</html>